<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction of House Price In Pune</title>
</head>
<style type="text/css">
    title{
        text-align: right;
    }
    lable{
        width: 150px;
        display: inline-block;
        text-align: right;
        margin: auto;
        justify-content: center;
    }
</style>
<body style="background-color: rgba(69, 99, 180, 0.651);" >
    <h1><marquee width ="50%">Pune House Price Predction</marquee></h1>
    <form method="post" action="/Pune_House_Price_prediction">

        <lable>Availability:</lable>
        <label>Ready To Move:</label> <input type = "radio" name = "availability" value = "Ready To Move">
        <label>Immediate Possession:</label> <input type = "radio" name = "availability" value = "Immediate Possession">

        <br>
        <br>
        <lable>Size:</lable>
        <input type="text" name ="size">
        </select>
        
        <br>
        <br>
        <lable>Bathroom:</lable>
        <input type="text" name ="bath">
        </select>

        <br>
        <br>
        <lable>Balcony:</lable>
        <input type="text" name ="balcony">
        </select>
        

        <br>
        <br>
        <lable>Total Square Feet:</lable>
        <input type="text" name ="new_total_sqft">
        </select>
        <br>
        <br>

        <lable>Area Type:</lable>
        <select name="area_type">
            <option value="Super built-up  Area">Super built-up  Area</option>
            <option value="Plot  Area">Plot  Area</option>
            <option value="Built-up  Area">Built-up  Area</option>
            <option value="Carpet  Area">Carpet  Area</option>
            
        </select>
        <br>
        <br>
        <lable>Site Location:</lable>
        <select name="site_location">
            <option value="Alandi Road">Alandi Road</option>
            <option value="Ambegaon Budruk">Ambegaon Budruk</option>
            <option value="Household">Household</option>
            <option value="Anandnagar">Anandnagar</option>
            <option value="Aundh">Aundh</option>
            <option value="Aundh Road">Aundh Road</option>
            <option value="Balaji Nagar">Balaji Nagar</option>
            <option value="Baner">Baner</option>
            <option value="Bhavani Peth">Bhavani Peth</option>
            <option value="Bibvewadi">Bibvewadi</option>
            <option value="Bopodi">Bopodi</option>
            <option value="Budhwar Peth">Budhwar Peth</option>
            <option value="Bund Garden Road">Bund Garden Road</option>
            <option value="Camp">Camp</option>
            <option value="Chandan Nagar">Chandan Nagar</option>
            <option value="Dapodi">Dapodi</option>
            <option value="Deccan Gymkhana">Deccan Gymkhana</option>
            <option value="Dehu Road">Dehu Road</option>
            <option value="Dhankawadi">Dhankawadi</option>
            <option value="Dhayari Phata">Dhayari Phata</option>
            <option value="Erandwane">Erandwane</option>
            <option value="Fatima Nagar">Fatima Nagar</option>
            <option value="Fergusson College Road">Fergusson College Road</option>
            <option value="Ganesh Peth">Ganesh Peth</option>
            <option value="Gokhale Nagar">Gokhale Nagar</option>
            <option value="Guruwar peth">Guruwar peth</option>
            <option value="Hadapsar">Hadapsar</option>
            <option value="Jangali Maharaj Road">Jangali Maharaj Road</option>
            <option value="Kalyani Nagar">Kalyani Nagar</option>
            <option value="Karve Nagar">Karve Nagar</option>
            <option value="Kasba Peth">Kasba Peth</option>
            <option value="Katraj">Katraj</option>
            <option value="Khadaki">Khadaki</option>
            <option value="Kharadi">Kharadi</option>
            <option value="Kondhwa">Kondhwa</option>
            <option value="Koregaon Park">Koregaon Park</option>
            <option value="Kothrud">Kothrud</option>
            <option value="Laxmi Road">Laxmi Road</option>
            <option value="Mangalwar peth">Mangalwar peth</option>
            <option value="Market yard">Market yard</option>
            <option value="Nana Peth">Nana Peth</option>
            <option value="Narayan Peth">Narayan Peth</option>
            <option value="Pashan">Pashan</option>
            <option value="Pirangut">Pirangut</option>
            <option value="Pune Railway Station">Pune Railway Station</option>
            <option value="Raviwar Peth">Raviwar Peth</option>
            <option value="Sadashiv Peth">Sadashiv Peth</option>
            <option value="Senapati Bapat Road">Senapati Bapat Road</option>
            <option value="Shaniwar Peth">Shaniwar Peth</option>
            <option value="Shivaji Nagar">Shivaji Nagar</option>
            <option value="Swargate">Swargate</option>
            <option value="Viman Nagar">Viman Nagar</option>
            <option value="Wagholi">Wagholi</option>
            <option value="Wakadewadi">Wakadewadi</option>
            <option value="Warje">Warje</option>
            <option value="Yerawada">Yerawada</option>
            
          </select>  
         <br>
         <br>

    
                       <input type="submit" value="SUBMIT">
    
    

        </style>
    
        <br>
        <p>Predicted Price of House will be <b><i> {{ prediction }} lakhs Only</b></i> </p>

        
    </form>


















    
</body>
</html>